---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: conditions.iot.iot
spec:
  group: iot.iot
  names:
    kind: Condition
    listKind: ConditionList
    plural: conditions
    singular: condition
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Condition is the Schema for the conditions API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ConditionSpec defines the desired state of Condition
            properties:
              enabled:
                type: boolean
              matches:
                items:
                  properties:
                    labels:
                      additionalProperties:
                        type: string
                      type: object
                  type: object
                type: array
              name:
                type: string
              remediations:
                items:
                  properties:
                    active_scene:
                      type: string
                    active_state:
                      type: string
                    inactive_scene:
                      type: string
                    inactive_state:
                      type: string
                    time_intervals:
                      description: TimeIntervals define the windows during which this
                        remediation is applicable for Alerts.  If the conditioner
                        receives an event outside of this range, the zone will be
                        set to the inactive state, if defined in the condition spec.
                      items:
                        description: TimeIntervalSpec mirrors the JSON/YAML *input*
                          format expected by Prometheus.
                        properties:
                          daysOfMonth:
                            description: DaysOfMonth accepts strings like "1", "-1"
                              (last day), "1:5".
                            items:
                              type: string
                            type: array
                          location:
                            description: Location is the IANA Timezone string (e.g.
                              "America/New_York").
                            type: string
                          months:
                            description: Months accepts strings like "january", "march:may".
                            items:
                              type: string
                            type: array
                          times:
                            description: Times is a list of start/end times. We use
                              a local struct here to ensure deepcopy generation works.
                            items:
                              description: TimePeriod mirrors the `yamlTimeRange`
                                struct from the upstream package. We use strings here
                                because Prometheus expects "HH:MM".
                              properties:
                                end_time:
                                  type: string
                                start_time:
                                  type: string
                              required:
                              - end_time
                              - start_time
                              type: object
                            type: array
                          weekdays:
                            description: Weekdays accepts strings like "monday", "saturday",
                              "monday:wednesday".
                            items:
                              type: string
                            type: array
                          years:
                            description: Years accepts strings like "2023", "2023:2025".
                            items:
                              type: string
                            type: array
                        type: object
                      type: array
                    when_gate:
                      description: WhenGate is relative to the Epoch event, and use
                        used to create an activation window.  When the window opens,
                        the zone is activated, and when the window window closes,
                        the zone is deactivated.
                      properties:
                        start:
                          type: string
                        stop:
                          type: string
                      type: object
                    zone:
                      type: string
                  type: object
                type: array
              schedule:
                description: 'A cron string: * * * * *'
                type: string
            type: object
          status:
            description: ConditionStatus defines the observed state of Condition
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
